{{ define "Header" }}
<!DOCTYPE html>
<html>
    <head>
        <title>Employee Management</title>
        <meta charset="UTF-8" />
    </head>
    <body>
        <h1>Employee Management</h1>   
{{ end }}
